<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <title>Navigation</title>
</head>
<body>
<%- include('partials/header') %>

    <h2>Navigation</h2>

    <div style="margin-bottom: 20px;">
        <a href="/reminder"><button>Zu Reminder</button></a>
        <a href="/tasks"><button>Zu Tasks</button></a>
        <a href="/persons"><button>Zu Personen</button></a>
    </div>

</body>
</html>
